/* Adicione esses estilos ao seu arquivo CSS ou diretamente no seu componente React */

.custom-calendar {
  width: 100%; /* Ajusta a largura da tabela para ocupar 100% do contêiner pai */
}

.custom-calendar th, .custom-calendar td {
  text-align: center; /* Centraliza o texto nas células */
  padding: 10px; /* Adiciona espaço interno nas células */
}

.custom-calendar td {
  cursor: pointer; /* Adiciona um cursor de apontador nas células clicáveis */
}

.custom-calendar td:hover {
  background-color: #333; /* Altera a cor de fundo ao passar o mouse sobre as células */
}

.custom-calendar div {
  margin-bottom: 5px; /* Adiciona espaço entre os eventos dentro de uma célula */
}

.custom-calendar div:not(:first-child) {
  color: #888; /* Adiciona uma cor mais suave para eventos subsequentes */
}





