
.form-cursos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: auto;
    width: auto;
    margin-bottom: 80px; /* Ajuste conforme necessário */
}

.form{
   background-color: rgb(70, 70, 70);
   margin-top:50px;
   border-radius: 10px;
   padding: 60px;
   color: white;

}

.combo-botoes{
    margin-left:11px ;
}


