.title{
    margin-top:10px;
    text-align: center;
}

.list{
    color: white;
}

.cards {
    flex: 1 1 200px;
    /*margin: 0 auto;*/
    margin-left: 50px;
    margin-top: 70px;
    display: flex; /* Alterado para flex para colocar os elementos lado a lado */
}
.card-periodo {
    margin-left: 20px; 
}

.card-professor {
    margin-left: 20px; 
}

.card-sala{
    margin-left: 20px;
    margin-bottom:20px; 
}

.card-desafio{
    margin-left:20px;

} 

