.tabelaContainer {
    overflow-x: auto; 
    max-width: 100%; 
  }

.tabelaGeral{
    border-radius: 5px;
    background-color: rgb(70, 70, 70);
    color: white;
    margin-top: 45px;
    border-collapse: collapse;
    overflow-x: auto;
    max-width: 100%;
}

.tabelaGeral th, .tabelaGeral td{
    border: 2px solid rgb(75, 75, 75);
    padding: 20px;
    text-align: center;
}

.tabelaGeral td > button{
    margin-left: 10px;
}

.tabelaGeral thead{
    background-color: rgb(48, 48, 48);
}

.tabelaGeral tbody tr:nth-child(even){
    background-color: #2e2e2e;
}

.tabelaGeral th{
    background-color: #2e2e2e;
    color: white;
}

.info{
    color: white;
}

